@import 'src/theme/variables.scss';

.order-progress{
    background-color: $black-card;
    border-radius: 8px;
    padding : 10px;
    min-width: 170px;
    box-shadow: inset -2px -2px 4px 0 $solid-black, inset 2px 2px 4px 0 $secondary-black, 0 13px 9px 0 black;

    .person-in-charge{
        font-size: 12px;
        line-height: 16px;
    }
}