/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";


@import 'theme/variables.scss';
@import "~@mdi/font/scss/materialdesignicons.scss";


@font-face {
    font-family: "Avenir Heavy";
    src : url('/assets/fonts/avenir_heavy.ttf') format("truetype");
  }
  
@font-face {
    font-family: "Avenir Book";
    src : url('/assets/fonts/avenir_book.ttf') format("truetype");
}



.subheader{
    color: $secondary-gray;
    font-family : 'Avenir Book';
}


.primary-yellow-txt{
    color : $primary-yellow!important;
}

.primary-blue-txt{
    color : $primary-blue;
}

.primary-green-txt{
    color : $primary-green;
}

.primary-red-txt{
    color : $primary-red;
}

.secondary-gray-txt{
    color : $secondary-gray;
}

.d-flex{
    display: flex;
}


.justify-content-end{
    justify-content: flex-end;
}

.justify-content-between{
    justify-content: space-between;
}

.align-items-center{
    align-items: center;
}

.card{
    background-color: $black-card;
    border-radius: 8px;
    padding : 10px;
    min-width: 170px;
    box-shadow: inset -2px -2px 4px 0 $solid-black, inset 2px 2px 4px 0 $secondary-black, 0 13px 9px 0 black;

}

.sections>div {

        margin-bottom: $app-padding;
}


@for $i from 1 through 10 {
    .mt-#{$i} {
        margin-top: #{$i}rem;
    }
}

@for $i from 1 through 10 {
    .mb-#{$i} {
        margin-bottom: #{$i}rem;
    }
}

@for $i from 1 through 10 {
    .ma-#{$i} {
        margin: #{$i}rem;
    }
}

@for $i from 6 through 24 {
    .font-size-#{$i}{
        font-size: #{$i}px;
    }
}

